body {
  margin: 0;
  font-family:  BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

.card img{
  width: 225px;
  height: 200px;
}